@font-face 
    font-family: 'Inter', sans-serif
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')

*
    box-sizing: inherit

html
    font-family: 'Inter', sans-serif
    box-sizing: border-box
    font-size: 62.5%
