$bg-gray: #EDEDF0

$text-gray: #787885

$text-black: #19191D

$text-blue: #2979FF

$box-shadow: #ccc

$icon-color: #9696A0

$boder-blue-color: #9DC2FF

$desktop: 1199px

$tablet: 991px

$mobile: 767px

$bg-star: #ffcd5a

$bg-star-hover: #FBAE00

$text-related: #4A4B57

$bg-related: #EDEDF0

$border-gray: #ccc

$white-color: #fff
