@import ../../styles/_variables
@import ../../styles/_mixins

.toast-notify
    font-size: 2.4rem
    background: $text-gray
    border-radius: 1rem
    border: none
    span
        color: $white-color
        font-size: 2rem
    .text-green
        color: green
    .text-orange
        color: orange
    .text-blue:
        color: blue
    .text-red
        color: red
